In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [6]:
data=pd.read_csv("C:/DSA/Advertising.csv")

In [7]:
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [9]:
X=data[["TV"]]
Y=data[["Sales"]]

In [10]:
model = sm.OLS(Y,X).fit()

In [11]:
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.897
Model:                            OLS   Adj. R-squared (uncentered):              0.896
Method:                 Least Squares   F-statistic:                              1733.
Date:                Sun, 05 Dec 2021   Prob (F-statistic):                   3.52e-100
Time:                        12:53:41   Log-Likelihood:                         -597.51
No. Observations:                 200   AIC:                                      1197.
Df Residuals:                     199   BIC:                                      1200.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0832      0.002     41.633      0.000       0.079       0.087
==============================================================================
Omnibus:                       20.228   Durbin-Watson:                   1.707
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.930
Skew:                          -0.846   Prob(JB):                     6.36e-06
Kurtosis:                       3.086   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
predictions = model.predict(X)
print(predictions)

0      19.155735
1       3.704608
2       1.431893
3      12.612316
4      15.051529
         ...
195     3.180135
196     7.842113
197    14.735181
198    23.609589
199    19.322234
Length: 200, dtype: float64

In [14]:
model1=smf.ols(formula='TV~Sales',data=data).fit()

In [15]:
model1.params

Intercept   -33.450228
Sales        12.871651
dtype: float64